#automatic-events-table {
    position: absolute;
    right: 0;
    bottom: 0;
}

#automatic-events-table-main .row {
    padding-bottom: 5px;
}

#automatic-events-table-main .row p {
margin: 0;
}

#tabs-sample {
    display:none;
}

@media(max-width:1600px){
    #automatic-events-table {
        width: 22vw;
    }
}

@media(min-width:1601px){
    #automatic-events-table {
        width: 20vw;
    }
}
