#automatic-events-table {
    width: 16rem;
    position: absolute;
    right: 0;
    bottom: 0;
}

#automatic-events-table-main .row {
    padding-bottom: 5px;
}

#automatic-events-table-main .row p {
margin: 0;
}